@import "../../styles/variables";
@import "../../styles/mixins";

$header-height: 70px;
$inner-width: 1440px;
$inner-width-xs: 100%;

$side-width: ($inner-width - $max-content-width) / 2;

.header-root {
  padding-top: $header-height;
}

.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  height: $header-height;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);

  .inner {
    width: $inner-width;
    margin: 0 auto;
    @include clearfix();
  }
}

.logo {
  float: left;
  height: $header-height;
  width: $side-width;

  img {
    height: 100%;
    width: auto;
  }
}

.search {
  float: right;
  height: $header-height;
  width: $side-width;
  padding: ($header-height - $input-height-base) / 2;
}

.content {
  height: $header-height;
  float: left;
}

.menu {
  list-style: none;
  margin: 0;
  padding-left: 0;

  li {
    display: inline-block;
    height: $header-height;
    padding: 0 24px;
    font-size: $font-size-lg;

    a {
      line-height: $header-height;
      color: inherit;
      text-decoration: none;
    }
  }
}

.menu-btn {
  display: none;
}

@media screen and (max-width: $screen-xs) {
  .header {
    .inner {
      width: $inner-width-xs;
    }
  }

  .logo {
    width: auto;
  }

  .search, .content {
    display: none;
  }

  .menu-wrap {
    background-color: #fff;
    height: 100%;

    .menu li {
      display: block;
    }
  }

  .menu-btn {
    display: inline-block;
    float: right;
    font-size: 24px;
    padding: 8px;
    margin: 15px 0;
    transition: transform ease .3s;
  }

  .menu-btn.open {
    transform: rotate(180deg);
  }
}
