@import "./variables";

html,
body {
  height: 100%;
  width: 100%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

:global {
  #root {
    height: 100%;
    width: 100%;
  }

  #cnzz_stat_icon_1274226487 {
    display: none;
  }
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:hover, &:focus, &:active {
    color: $primary-color;
    outline: 0;
  }
}
