@import "./variables";

html,
body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  font-family: $font-family;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  color: $text-color;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

:global {
  #root {
    height: 100%;
    width: 100%;
  }
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:hover, &:focus, &:active {
    text-decoration: underline;
    color: $color-primary;
    outline: 0;
  }
}
