@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  height: 60px;

  .content {
    border-top: solid 1px $border-color-base;
    padding: 8px 0;
    @include clearfix();
  }

  .info {
    float: right;

    li {
      display: inline-block;
      margin-left: 24px;
      line-height: 44px;

      a {
        text-decoration: none;
        color: $text-color;
      }

      a:hover {
        text-decoration: underline;
        color: $primary-color;
      }
    }
  }

}

