.footer {
  background-color: #fff;
  height: 60px;
  padding: 8px 0;

  .info {
    float: right;

    li {
      display: inline-block;
      margin-left: 24px;
      line-height: 44px;

      a {
        text-decoration: none;
      }
    }
  }

}

