@import "../../styles/variables";

.root {
  margin-bottom: $block-margin;
  background-color: $color-bg;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .1);
}

.head, .body {
  padding: 12px;
}

.head {
  font-size: $font-size-title;
  border-bottom: solid 1px $border-color;
}
