@import "../../styles/variables";

.root {
  padding-top: 30px;
}

.friend-links {
  li {
    padding: 8px 0;

    a {
      display: block;
      color: $text-color;
    }

    a:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

.post-item {
  padding: $padding-sm;
  margin-bottom: $padding-lg;
  border-bottom: solid 1px $border-color-base;

  &:hover {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .3);
  }
}

.panel {
  margin-bottom: $padding-lg;

  :global {
    .ant-card-body {
      padding: 12px 24px;
    }
  }
}

.pagination {
  text-align: right;
}

.loading-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .3);
}
