@import "../MonthlyArchive/ma.scss";

.head {
  text-align: center;
}

.total {
  text-align: center;
  font-size: $font-size-lg;
  margin-bottom: $padding-lg;
}

.category {
  margin: $padding-sm 0;
  font-size: $font-size-lg;

  .icon {
    font-size: 20px;
    margin-right: .5em;
  }

  .icon, .text {
    vertical-align: middle;
    display: inline-block;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
