<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <%- title %>
    <link rel="icon shortcut" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico">
    <!-- BAIDU -->
    <meta name="baidu-site-verification" content="igaKoLEeLg" />
    <!-- GOOGLE -->
    <meta name="google-site-verification" content="MBzgjgnmjPWhy6u8v0Tx8XoliKFCSe1Oz21lYOP6Lrk" />
    <% if (meta) { %>
    <%- meta %>
    <% } %>
</head>
<body>
<div id="root"><%- content %></div>
<script id="bootstrap">
  window.__INITIAL_STATE__ = <%- state -%>;
</script>
</body>
<% if (process.env.NODE_ENV === 'production') { %>
<!-- CNZZ -->
<script type="text/javascript">
  var cnzz_protocol = (("https:" === document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cspan id='cnzz_stat_icon_1274226487'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274226487' type='text/javascript'%3E%3C/script%3E"));
</script>
<% } %>
</html>
