<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%- helmet.title.toString() %>
    <link rel="icon shortcut" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico">
    <% if (prefetch) { %>
    <link rel="dns-prefetch" href="<%- prefetch %>">
    <% } %>
    <!-- BAIDU -->
    <meta name="baidu-site-verification" content="igaKoLEeLg" />
    <!-- GOOGLE -->
    <meta name="google-site-verification" content="MBzgjgnmjPWhy6u8v0Tx8XoliKFCSe1Oz21lYOP6Lrk" />
    <%- helmet.meta.toString() %>
</head>
<body <%- helmet.bodyAttributes.toString() %>>
<div id="root"><%- content %></div>
<script id="bootstrap">
  window.__INITIAL_STATE__ = <%- state -%>;
</script>
</body>
</html>
