@import "../../styles/variables";
@import "../../styles/mixins";

.title {
  @include text-ellipsis();
  margin-bottom: 0.5em;
  font-size: $font-size-lg;
  color: $heading-color;
  font-weight: bold;

  > a {
    color: inherit;
    font-weight: inherit;
  }

  > a:hover {
    text-decoration: underline;
  }
}

.categories {
  color: $text-color;
  font-weight: 600;
  margin-bottom: 12px;

  .icon {
    font-size: $font-size-lg;
    margin-right: .5em;
    padding-top: 2px;
  }

  .icon, .breadcrumb {
    vertical-align: middle;
    display: inline-block;
  }
}

.content {
  color: $text-color;
  margin-bottom: 12px;
  max-height: $line-height-base * 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.meta {
  color: $text-color-secondary;
  font-size: $font-size-sm;
  @include clearfix();

  > span {
    margin-right: 16px;
  }

  .tags {
    color: $text-color;
  }

  .icon {
    display: inline-block;
    margin-right: 8px;
    transform: translateY(1px);
    font-size: $font-size-base;
    font-weight: bold;
  }
}

.with-image {
  @include clearfix();

  .wrap {
    margin-left: 168px;
    padding-left: 12px;
    overflow: hidden;
  }

  .background {
    float: left;
    width: 160px;
    height: 140px;

    img {
      object-fit: cover;
      object-position: center;
      font-family: 'object-fit: cover;object-position: center;';
      width: 100%;
      height: 100%;
    }
  }
}
