@import "../../styles/variables";

$detail-width: 840px;
$content-font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;

.wrapper {
  width: $detail-width;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  text-align: center;
  margin: 30px 0 .5em 0;
}

.meta {
  text-align: center;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 1em;
    font-size: $font-size-sm;

    .icon {
      color: $text-color-secondary;
      margin-right: .5em;
      font-size: $font-size-base;
      transform: translateY(1px);
    }
  }

  .category {
    display: inline-block;

    a {
      color: $text-color;
      text-decoration: underline;
    }
  }
}

.article {
  margin-top: $padding-lg;
  overflow: hidden;
  color: #333;
  font-size: $font-size-lg;
  text-align: justify;
  font-family: $content-font-family;

  img {
    max-width: 100%;
  }

  p > code {
    padding: 2px 4px;
    word-wrap: break-word;
    color: #555;
    background: #eee;
    border-radius: 3px;
    font-size: 14px;
  }

  pre {
    border: solid 1px $border-color-base;
    border-radius: 4px;
    font-size: $font-size-base;
    margin: $padding-lg 0;
  }

  ol, ul {
    padding-left: 40px;
    margin: 1em 0;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  a {
    color: #0366d6;
  }
}

.license {
  text-align: center;
  margin: $padding-lg 0;
}

.share {
  margin-top: $padding-lg;
}
