@import "../../styles/mixins";
@import "../../styles/variables";

:global {
  .row {
    @include clearfix();

    &:before {
      content: '';
      display: block;
      clear: both;
    }
  }

  @for $i from 1 to 12 {
    .col-#{$i} {
      width: percentage($i/12);
      float: left;
      min-height: 1px;
    }

    @media screen and (min-width: $screen-lg-min) {
      .col-lg-#{$i} {
        width: percentage($i/12);
        float: left;
        min-height: 1px;
      }
    }

    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      .col-md-#{$i} {
        width: percentage($i/12);
        float: left;
        min-height: 1px;
      }
    }

    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      .col-sm-#{$i} {
        width: percentage($i/12);
        float: left;
        min-height: 1px;
      }
    }

    @media screen and (max-width: $screen-xs-max) {
      .col-xs-#{$i} {
        width: percentage($i/12);
        float: left;
        min-height: 1px;
      }
    }
  }
}
