@import "../../styles/variables";

$content-width: 720px;

.title {
  margin-bottom: $padding-lg;

  small {
    color: $text-color-secondary;
    font-size: $font-size-base;
    padding-left: 1em;
    display: inline-block;
    transform: translateY(-2px);
  }
}

.content {
  max-width: $content-width;
  margin-top: 36px;

  @media screen and (max-width: $screen-xs) {
    padding: 0 12px;
  }
}

.item {
  border-bottom: solid 1px #eee;
  margin-bottom: $padding-lg;
  padding-bottom: 12px;
}
